.card{
    background-color: #E7E0EC;
    border-radius: 12px;
    overflow: hidden;
}
card-body{
    padding: 16px;
}
img{
    max-width: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 8px;
}
body{
    background-color: #d6c1e6;
}